[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gym = {extras = ["atari"]}
opencv-python = "*"


[dev-packages]

pygame = "*"
memory-profiler = "*"


[requires]

python_version = "3.6"
