[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gym = {extras = ["atari"]}
opencv-python = "*"
easy-tf-log = {git = 'https://github.com/mrahtz/easy-tf-log'}


[dev-packages]

pygame = "*"
memory-profiler = "*"


[requires]

python_version = "3.6"
